.calculator {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 2px solid #e3e2e2;
    border-radius: 5px;
    font-family: Arial, sans-serif;
  }
  
  h2 {
    text-align: center;
  }
  
  form {
    margin-bottom: 20px;
  }

  button {
    width: 100%;
  }
  
  button:hover {
    background-color: #4aa8d4;
  }
  
  #results {
    font-size: 18px;
    text-align: center;
  }