<div class="first-section">
    <div>
        <h1 id="homeHeader">Wise Wealth</h1>
        <h2 id="simplifiedHeader">
            YOUR MONEY, <br>
            SIMPLIFIED.
        </h2>
    </div>
    <img src="assets/Images/Income.png" alt="Pie chart of Income">
</div>

<div class="mission-container">
    <h3>Our Mission:</h3>
    <p>
        Plutus Solutions is committed to empowering individuals and families to achieve financial well-being by providing intuitive and accessible expense tracking tools. Our mission is to inspire smarter financial decisions through innovative technology, enabling users to effortlessly manage their spending, save for the future, and attain financial freedom. We believe that effective money management should be a seamless part of everyday life, and we are dedicated to making financial success achievable for everyone.
    </p>
</div>

<div class="solution-container">
    <div class="solution-content">
        <h2 id="solutionHeader">Plutus Solutions: Powerful, automated tools for tracking finances</h2>
        <ol id="featureList">
            <li>Feature 1</li>
            <li>Feature 2</li>
            <li>Feature 3</li>
        </ol>
    </div>
    <img src="assets/Images/chart.png" alt="Line chart">
</div>

<h5 style="text-align: center;">
    At Plutus, we strive to put customers at our forefront. Enjoy seamless tracking and visibility of your
    financials. Find everything you need in one place.
</h5>