<!-- current navbar for all home pages. will become its
own separate component in the future -->
<div id="test" [ngClass]="{'content-shifted': sidebarActive}">
<div class="container">
    <!-- navbar  -->
    <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand">
                <img src="../assets/Images/companyLogo.png" alt="Logo" width="40" height="25"
                    class="d-inline-block align-text-top">
                Plutus Solutions
            </a>
            <ul class="nav" style="list-style-type: none; align-items: center;">
                <div *ngIf="(authService.isAuthenticated() | async); then serviceLinks else companyLinks"></div>
                <ng-template #serviceLinks>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/dashboard">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/revenue">Revenue</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/transactionType">Type</a>
                    </li>
                    <li  class="nav-item">
                        <a class="nav-link" routerLink="/goals">Goals</a>
                    </li>
                    <li  class="nav-item">
                        <a class="nav-link" routerLink="/retirement">Retirement calculator</a>
                    </li>
                    <li class="nav-item">
                        <div class="profilebttn">
                            <button type="button" class="bttn bg-body-tertiary" (click)="toggleSidebar()">{{user.username}}</button>
                        </div>  
                    </li>
                </ng-template>

                <ng-template #companyLinks>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/companyReviews">Reviews</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/faqs">FAQ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/login">
                            <mat-icon>account_circle</mat-icon>
                        </a>
                    </li>
                </ng-template>

            </ul>
        </div>
    </nav>

    <router-outlet></router-outlet>
</div>

<!-- Sidebar -->
<div id="sidebar" [ngClass]="{'active' : sidebarActive}">
    <h2 class="topheader">Profile</h2><br>
    <div class="userIconContainer">
        <mat-icon class="userIcon">account_circle</mat-icon><br>
    </div>
    <p class="username">Username: {{ user?.username }}</p>
    <hr>
    <p class="email">Email: {{user?.email}}</p>
    <hr>
    <p class="dateJoined">Date Joined: {{user?.createdAt | date: 'MMM d, y'}}</p>
    <hr>
    <div class="signOutBttnContainer">
        <button type="button" class="signOutBttn" (click)="signout()"> Sign Out</button>
    </div>
    <div class="deleteBttnContainer">
        <button type="button" class="deleteBttn" (click)="deleteAccount()">Delete Account</button>
    </div>
</div>

</div>