<h1>Transaction types</h1>

<div class="mat-elevation-z8" matSort>
    <button mat-button (click)="addTransaction(user.userId)">New Transaction Type</button>
    <table mat-table [dataSource]="transactionTypes" matSort>
        <ng-container matColumnDef="userId">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by username">User</th>
            <td mat-cell *matCellDef="let element">
                <ng-container *ngIf="element.userId !== 0; else sysDefault">{{element.userName}}</ng-container>
                <ng-template #sysDefault>System Default</ng-template>
            </td>
        </ng-container>
        <ng-container matColumnDef="transactionTypeName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
            <td mat-cell *matCellDef="let element">{{element.transactionTypeName}}</td>
        </ng-container>
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Actions</th>
            <td mat-cell *matCellDef="let element">
                <ng-container *ngIf="element.userId !== 0;">
                    <button mat-icon-button style="color: gold;" (click)="editTransaction(element)">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button color="warn" (click)="deleteTransaction(element.transactionTypeId)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </ng-container>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayColumns;"></tr>
    </table>
    <mat-paginator [length]="100" [pageSize]="10" [pageIndex]="0" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of transaction types">
    </mat-paginator>
</div>