<!-- displaying all income elements in the mock array -->
<h1>--Username--, your income:</h1>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th class="col-md-3">Source</th>
            <th class="col-md-3">Amount</th>
            <th class="col-md-3">Date</th>
            <th class="col-md-3">Description</th>
        </tr>
    </thead>
    <ng-container *ngIf="income.length != 0">
        <tbody *ngFor="let anIncome of income">
            <ng-container *ngIf="!anIncome.isDeleted">
                <tr>
                    <td>{{anIncome.source}}</td>
                    <td style="color: #6f9460;">${{anIncome.amount.toFixed(2)}}</td>
                    <td>
                        {{anIncome.date.toLocaleDateString('en-US', { weekday: 'short' })}}
                        {{anIncome.date.toLocaleDateString('en-US', { month: 'numeric', day: 'numeric', year: 'numeric' })}}
                    </td>
                    <td>{{anIncome.description}}</td>
                    <td><button type="button" class="btn btn-info">Details</button></td>
                    <td><button type="button" class="btn btn-secondary">Edit</button></td>
                    <td><button type="button" class="btn btn-danger">Delete</button></td>
                </tr>
            </ng-container>
        </tbody>
    </ng-container>
</table>

<!-- Button trigger modal -->
<div style="text-align: center;">
    <button type="button" class="btn btn-primary" (click)="openIncomeModal()">Add new income</button>
</div>

<!-- Modal -->
<div class="modal" id="newIncomeModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title"><strong>New income details</strong></h4>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="md-form mb-4">
                    <p class="text-primary">Source</p>
                    <button mat-button [matMenuTriggerFor]="menu">Select income source</button>
                    <mat-menu id="formIncomeSource" #menu="matMenu">
                        <li mat-menu-item>Job</li>
                        <li mat-menu-item>Investing</li>
                    </mat-menu>
                </div>
            
                <div class="md-form mb-4">
                    <p class="text-primary">Amount $</p> 
                    <input type="number" id="formIncomeAmount" class="form-control validate">
                </div>

                <div class="md-form mb-4">
                    <p class="text-primary">Date occurred</p> 
                    <input type="date" id="formIncomeDate" class="form-control validate">
                </div>

                <div class="md-form mb-4">
                    <p class="text-primary">Description</p> 
                    <input type="text" id="formIncomeDescription" class="form-control validate">
                </div>

                <div class="md-form mb-4">
                    <mat-checkbox id="formIncomeRecurring"></mat-checkbox>
                    <label for="formIncomeRecurring" class="text-primary">Recurring</label>
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-success">Add income</button>
                <button type="button" class="btn btn-danger" (click)="closeIncomeModal()">Cancel</button>
            </div>
        </div>
    </div>
</div>


<!-- displaying all expense elements in the mock array -->
<h1>Your expenses:</h1>
<table class="table table-hover">
    <thead>
        <tr>
            <th class="col-md-3">Transaction</th>
            <th class="col-md-3">Amount</th>
            <th class="col-md-3">Date</th>
            <th class="col-md-3">Description</th>
        </tr>
    </thead>
    <ng-container *ngIf="expense.length != 0">
        <tbody *ngFor="let anExpense of expense">
            <ng-container *ngIf="!anExpense.isDeleted">
                <tr>
                    <td>{{anExpense.type}}</td>
                    <td style="color: red;">${{anExpense.amount.toFixed(2)}}</td>
                    <td>
                        {{anExpense.date.toLocaleDateString('en-US', { weekday: 'short' })}}
                        {{anExpense.date.toLocaleDateString('en-US', { month: 'numeric', day: 'numeric', year: 'numeric' })}}
                    </td>
                    <td>{{anExpense.description}}</td>
                    <td><button type="button" class="btn btn-info">Details</button></td>
                    <td><button type="button" class="btn btn-secondary">Edit</button></td>
                    <td><button type="button" class="btn btn-danger">Delete</button></td>
                </tr>
            </ng-container>
        </tbody>
    </ng-container>
</table>

<!-- Button trigger modal -->
<div style="text-align: center;">
    <button type="button" class="btn btn-primary" (click)="openExpenseModal()">Add new expense</button>
</div>

<!-- Modal -->
<div class="modal" id="newExpenseModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title"><strong>New expense details</strong></h4>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="md-form mb-5">
                    <p class="text-primary">Transaction</p>
                    <button mat-button [matMenuTriggerFor]="menu2">Select transaction type</button>
                    <mat-menu id="formExpenseType" #menu2="matMenu">
                        <li mat-menu-item>Transportation</li>
                        <li mat-menu-item>Groceries</li>
                    </mat-menu>
                </div>
            
                <div class="md-form mb-4">
                    <p class="text-primary">Amount $</p>
                    <input type="number" id="formExpenseAmount" class="form-control validate">
                </div>
            
                <div class="md-form mb-4">
                    <p class="text-primary">Date occurred</p>
                    <input type="date" id="formExpenseDate" class="form-control validate">
                </div>
            
                <div class="md-form mb-4">
                    <p class="text-primary">Description</p>
                    <input type="text" id="formExpenseDescription" class="form-control validate">
                </div>

                <div class="md-form mb-4">
                    <mat-checkbox id="formExpenseRecurring"></mat-checkbox>
                    <label for="formExpenseRecurring" class="text-primary">Recurring</label>
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-success">Add expense</button>
                <button type="button" class="btn btn-danger" (click)="closeExpenseModal()">Cancel</button>
            </div>
        </div>
    </div>
</div>
