<div class="container">
    <!-- Footer -->
    <footer class="text-center text-lg-start bg-body-tertiary text-muted">
        <!-- Section: Social media -->
        <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
            <!-- Left -->
            <div class="me-5 d-none d-lg-block">
                <span>Stay connected with us:</span>
            </div>
            <!-- Left -->

            <!-- Right -->
            <div>
                <i class="fa fa-facebook-f me-4"></i>

                <i class="fa fa-twitter me-4"></i>

                <a href="https://drive.google.com/drive/u/0/folders/1kOSW5uOCBMMEV69vivt4A3gBNIBHMC3k" target="_blank"
                    class="me-4 text-reset">
                    <i class="fa fa-google"></i>
                </a>

                <i class="fa fa-instagram me-4"></i>

                <i class="fa fa-linkedin me-4"></i>

                <a href="https://github.com/orgs/ExpenseTracking/repositories" target="_blank" class="me-4 text-reset">
                    <i class="fa fa-github"></i>
                </a>
            </div>
            <!-- Right -->
        </section>
        <!-- Section: Social media -->

        <!-- Section: Links  -->
        <section class="">
            <div class="container text-center text-md-start mt-5">
                <!-- Grid row -->
                <div class="row mt-3">
                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                        <!-- Content -->
                        <h6 class="text-uppercase fw-bold mb-4">
                            Plutus Solutions
                        </h6>
                        <p>
                            Check out some of these links to view resources and other information.
                        </p>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4">
                            Products
                        </h6>
                        <p>
                            <a routerLink="/" class="text-reset">Plutus</a>
                        </p>
                        <p>
                            <a routerLink="/dashboard" class="text-reset">Wise Wealth</a>
                        </p>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4">
                            Useful links
                        </h6>
                        <p>
                            <a routerLink="/about" class="text-reset">About</a>
                        </p>
                        <p>
                            <a routerLink="/faqs" class="text-reset">FAQ</a>
                        </p>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
                        <p>
                            <i class="fa fa-home me-3"></i>
                            1301 E Main St, <br> Murfreesboro, TN 37132 <br> Middle Tennessee State University
                        </p>
                        <p>
                            <i class="fa fa-envelope me-3"></i>
                            WiseWealth&#64;Plutus.com
                        </p>
                        <p><i class="fa fa-phone me-3"></i> +1 (012)-345-6789</p>
                    </div>
                    <!-- Grid column -->
                </div>
                <!-- Grid row -->
            </div>
        </section>
        <!-- Section: Links  -->

        <!-- Copyright -->
        <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
            © 2024 Plutus Solutions
        </div>
        <!-- Copyright -->
    </footer>
    <!-- Footer -->
</div>