<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="company-reviews.component.css" />
    <title>Plutus Solutions | Customer Reviews</title>
  </head>
  <body>
    <header>
      <div class="container">
        
        <div class="container__left">
          <h1>What our customers say about us!</h1>
          <p>
            At Plutus Solutions, we take immense pride in our commitment to excellence and customer satisfaction. With a dedicated team of experts and innovative solutions, we've had the privilege of helping numerous clients around the globe achieve their goals and surpass their expectations.
          </p>
          
        </div>
        <!-- right side container holds each customer review as a "card"-->
        <div class="container__right">
          <!-- Each card has an image attached of the person/company. The image would not render if I used 
            the path of a folder inside company-reviews "assets1" so I added the images to the "assets" folder instead. The background image works fine though in css file-->
          <div class="card">
            <img src="../assets/Images/pic-1.jpg" alt="user">
            <div class="card__content">
              <span><i class="ri-double-quotes-l"></i></span>
              <div class="card__details">
                <!-- Alter the fake testimonials later-->
                <p>
                  Using this expense tracker has been a game-changer for me! It's so easy to use and helps me stay on top of my finances effortlessly."
                </p>
                <h4>- Marnus Stephen</h4>
              </div>
            </div>
          </div>
          <div class="card">
            <img src="../assets/Images/pic-2.jpeg" alt="user"/>
            <div class="card__content">
              <span><i class="ri-double-quotes-l"></i></span>
              <div class="card__details">
                <p>
                  Thanks to the expense tracker, I've successfully cut down my monthly expenses by 20%! It's amazing how such a simple tool has made such a significant difference in my budget management.
                </p>
                <h4>- Andrew Jettpace</h4>
              </div>
            </div>
          </div>
          <div class="card">
            <img src="../assets/Images/pic-3.jpg" alt="user"/>
            <div class="card__content">
              <span><i class="ri-double-quotes-l"></i></span>
              <div class="card__details">
                <p>
                  Discovering this expense tracker has truly transformed how I manage my budget and expenses. With its intuitive interface and powerful features, I've gained complete control over my finances like never before. One of my favorite aspects is the ability to set and manage goals effortlessly. Whether it's saving for a vacation, a new car, or simply building an emergency fund, this app makes it simple to track my progress and stay motivated. Thanks to this tool, I feel more confident and in charge of my financial future.
                </p>
                <h4>- Stacy Stone</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
  </body>
</html>