#moneyText {
    font-size: large; 
    font-weight: 700; 
    color: #6f9460;
    margin: auto;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

::ng-deep #revenueList{
    color: black;
}