<div class="container" style="min-height: 80vh;">
    <!-- user welcome message -->
    <h1>Welcome back, --Username--</h1>

    <!-- net worth -->
    <p>
        Net-Worth: ${{ (totalIncome - totalExpenses) | number:'1.2-2' }} <br>
    </p>

    <mat-list>
        <mat-list-item>Total Income: ${{ totalIncome | number:'1.2-2' }}</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Total Expenses: ${{ totalExpenses | number:'1.2-2' }}</mat-list-item>
    </mat-list>

</div>