<div class="container" style="min-height: 80vh;">
    <!-- user welcome message -->
    <h1>Welcome back, {{ user[0].username}}</h1>

    <!-- net worth card info -->
    <mat-card id="netWorthCard">
        <mat-card-header>
            <mat-card-title class="title">
                <h2>
                    Net-Worth: <div style="color: #78b95e;" class="moneyValue">${{ (totalIncome - totalExpenses) |
                        number:'1.2-2' }}</div>
                </h2>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p class="infoText">
                This is a gross estimate of your net worth. It's calculated by taking the difference of
                your income and expense entries as part of your revenue. It doesn't take into account, however,
                other sources of revenue you have not entered.
            </p>
        </mat-card-content>
    </mat-card>

    <br>
    <mat-divider></mat-divider>
    <br>

    <!-- revenue row -->
    <div class="row">
        <div class="col-md-5" style="margin: auto;">
            <!-- income card info -->
            <mat-card id="revenueCard">
                <mat-card-header>
                    <mat-card-title class="title">
                        <h2>
                            Total income: <div style="color: #78b95e;" class="moneyValue">${{ totalIncome |
                                number:'1.2-2' }}</div>
                        </h2>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p class="infoText">
                        Sum of all your income. It's calculated by adding up all of your
                        income entries as part of your revenue. It doesn't take into account, however,
                        other sources of income you have not entered.
                    </p>
                </mat-card-content>
            </mat-card>
        </div>

        <div class="col-md-1">
            <mat-divider [vertical]="true" style="height: auto;"></mat-divider>
        </div>

        <div class="col-md-5" style="margin: auto;">
            <!-- expense card info -->
            <mat-card id="revenueCard">
                <mat-card-header>
                    <mat-card-title class="title">
                        <h2>
                            Total expenses: <div style="color: rgb(248, 79, 79);" class="moneyValue">${{ totalExpenses |
                                number:'1.2-2' }}</div>
                        </h2>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p class="infoText">
                        Sum of all your expenses. It's calculated by adding up all of your
                        expense entries as part of your revenue. It doesn't take into account, however,
                        other expenses you have not entered.
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>