.mat-divider {
    border-top-color: #FFD700;
    border-width: 3px;
}

#netWorthCard{
    min-height: 25vh;
}

#revenueCard{
    min-height: 25vh;
}

.title{
    color: white;
}

.moneyValue{
    font-size: larger;
}

.infoText{
    color: white;
    font-size: large;
}