<body>
  <div class="matcardContainer">
    <mat-card class="login-card">

      <div class="backBttnContainer">
        <button mat-button class="backBttn" (click)="goBack()">&#8249;  Back</button>
      </div>

      <div class="loginHeader">
        <mat-card-title class="loginHeaderText">Login</mat-card-title>
      </div>

      <mat-card-content>
        <form (ngSubmit)="login()">
          <mat-card-subtitle class="usernameSubtitle">Username</mat-card-subtitle>
          <mat-form-field class="full-width">
            <input class="userInput" matInput placeholder="Type your username" [(ngModel)]="user.username" name="sername" required>
          </mat-form-field>
          <mat-card-subtitle class="passwordSubtitle">Password</mat-card-subtitle>
          <mat-form-field class="full-width">
            <input matInput type="Password" placeholder="Type your Password" [(ngModel)]="user.password" name="password" required>
          </mat-form-field>
          <button mat-raised-button type="submit" class="loginBttn">Login</button>
          <div *ngIf="errorMessage.length > 0" class="error-message">{{errorMessage}}</div>
        </form>
        <button mat-button class="signUpBttn" (click)="navigateToSignUp()">Sign Up</button>
      </mat-card-content>

    </mat-card>
  </div>
</body>
  