<!-- edit expense dialog -->
<!-- x button to cancel -->
<button mat-icon-button matDialogClose>
    <mat-icon (click)="onCancel()">close</mat-icon>
</button>

<!-- body of dialog -->
<mat-dialog-content>
    <header>
        <h1><strong>Edit expense</strong></h1>
    </header>

    <!-- select transaction type dropdown -->
    <p class="editDialogField">
        <button mat-button [matMenuTriggerFor]="menu">{{ expense.transactionTypeName }}</button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item *ngFor="let element of transactionTypes"
                (click)="updateExpenseTypeButton(element.transactionTypeName, element.transactionTypeId);">
                {{ element.transactionTypeName }}
            </button>
        </mat-menu>
    </p>

    <!-- enter amount field -->
    <p class="editDialogField">
        <mat-form-field>
            <mat-label>Amount $</mat-label>
            <input matInput type="number" value="{{ expense.amount }}" [(ngModel)]="expense.amount">
        </mat-form-field>
    </p>

    <!-- select date field -->
    <p class="editDialogField">
        <mat-form-field>
            <mat-label>Date</mat-label>
            <input matInput type="date" value="{{ expense.date }}" [(ngModel)]="expense.date">
        </mat-form-field>
    </p>

    <!-- enter description field -->
    <p class="editDialogField">
        <mat-form-field>
            <mat-label>Description</mat-label>
            <input matInput type="text" value="{{ expense.description }}" [(ngModel)]="expense.description">
        </mat-form-field>
    </p>
</mat-dialog-content>

<!-- confirm actions -->
<mat-dialog-actions align="end">
    <button mat-raised-button color="accent" (click)="onConfirm()">Update</button>
</mat-dialog-actions>