
<!-- Container for sign out button -->
<div class="signOutButtonContainer">
    <button id="signOutBttn">Sign Outng</button>
</div>

<!-- Profile Header with user name -->
<div class="headerContainer">
    <h2 id="headerUser"> Welcome</h2>
</div>

<!--Profile Image-->
<div class="profileImageContainer">
    <img id="profileImage" src="https://pbs.twimg.com/media/EAmr-PAWsAEoiWR.jpg" style="width: 150px; height: 150px;">
</div>

<div class="profileDataContainer">
    <Ul class="dataList" style="list-style-type: none;">
        <li id="userName"><b>Username: </b></li>
        <li id="userEmail"><b>Email: </b></li>
        <li id="dateJoined"><b>Date Joined: </b></li>
    </Ul>
</div>

<!-- Container for the delete button -->
<div class="deleteButtonContainer">
    <button id="deleteBttn">Delete Account</button>
</div>

