/* styles for profile picture */
.profileImageContainer {
    text-align: center;
}

.profileImageContainer #profileImage {
    border-radius: 50%;
}

/* welcome header styles  */
.headerContainer {
    text-align: center;
}

/* styles for user data */
.profileDataContainer{
    text-align: center;
    padding-top: 50px;
}

/* styles for delete button */
.deleteButtonContainer #deleteBttn{
    border-radius: 8px;
    height: 40px;
    width: 150px;
    background-color: red;
    font-weight: bold;
}

.deleteButtonContainer{
    text-align: center;
    padding-top: 50px;
}

/* styles for sign out button */
.signOutButtonContainer{
    text-align: right;
    padding-top: 10px;
}

.signOutButtonContainer #signOutBttn{
    border-radius: 8px;
    height: 30px;
    width: 100px;
    font-weight: bold;
    background-color: lightblue;
    
}