<h1>Frequently Asked Questions:</h1>

<br>

<!-- FAQ #1 -->
<div class="container" style="background-color:whitesmoke">
  <h5>Q: What is an expense tracker, and why do I need one?</h5>
  <p>A: An expense tracker helps you keep track of your expenses
    and categorizes them to help you manage your money how you wish.
  </p>
</div>

<!-- FAQ #2 -->
<div class="container">
  <h5>Q: How does an expense tracker work?</h5>
  <p>A: You input any expenses youd like ranging from coffee to car payments
    and the app will keep track of the expense type and categorize your expenses
    for you. You can then use the information to better allocate expenses and achieve
    your financial goals.
  </p>
</div>

<!-- FAQ #3 -->
<div class="container" style="background-color:whitesmoke">
  <h5>Q: Is my financial information safe with this expense tracker?</h5>
  <p>A: Yes! Firstly, we do not ask for any information that would compromise
    your bank information like account or routing numbers. The only information we use for
    expense tracking is the category and the amount. We do use account security though with login
    credentials using username and password protection.
  </p>
</div>

<!-- FAQ #4 -->
<div class="container">
  <h5>Q: Is my account accessible from different devices?</h5>
  <p>A: Yes! As long as you have an internet connection you should be able to login
    to your account and see your information no matter the device or location.
  </p>
</div>

<!-- FAQ #5 -->
<div class="container" style="background-color:whitesmoke">
  <h5>Q: Is there a mobile app available for this expense tracker?</h5>
  <p>A: There is not currently a mobile app available, but development is planned for the future.</p>
</div>

<!-- FAQ #6 -->
<div class="container">
  <h5>Q: Can I import debit/credit transactions from my bank account?</h5>
  <p>A: We do not currently support direct access to transactions through your bank account.
    All expenses must be recorded manually.
  </p>
</div>

<!-- FAQ #7 -->
<div class="container" style="background-color:whitesmoke">
  <h5>Q: How does the expense tracker categorize expenses?</h5>
  <p>A: When an expense is entered into the system, the user is asked to pick from a list of
    transaction types that will be associated with said transaction.
  </p>
</div>

<!-- FAQ #8 -->
<div class="container">
  <h5>Q: Can I set and manage a budget within this expense tracker?</h5>
  <p>A: We do not currently support budgeting but plan on implementing in the future.</p>
</div>

<!-- FAQ #9 -->
<div class="container" style="background-color:whitesmoke">
  <h5>Q: Does the expense tracker generate reports?</h5>
  <p>A: The expense tracker does not currently generate reports but it can be added in the future.</p>
</div>

<!-- FAQ #10 -->
<div class="container">
  <h5>Is customer support available if I need help?</h5>
  <p>A: We do not currently have a customer service team, but we can add a ticket system in the future.</p>
</div>
